{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-linguagem" content="pt-br">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="description" content="Agenda">
        <title>Agenda - Django</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body class="bg-secondary">
        {% include 'global/partial/_navbar.html' %}
        {% if messages %}
            <div class="toast-container position-absolute bottom-0 end-0 p-3">
                {% for message in messages %}
                    {% include 'global/partial/_toast.html' %}
                {% endfor %}
            </div>
        {% endif %}
        {% block conteudo %}
        {% endblock conteudo %}
        <script src= "{% static '/js/script.js' %}"></script>
    </body>
</html>
