{% extends "global/base.html" %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% block conteudo %}
    <div class="container mt-5">
        <p class="display-4">Adicionar Contato</p>
        <form action="{% url 'contato:create' %}"
              autocomplete="off"
              method="post"
              class="form-control"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-floating mb-3">
                    {{ field|append_attr:"class:form-control"|append_attr:"placeholder:#" }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-check-lg"></i>  Enviar
            </button>
            <button type="reset" class="btn btn-outline-danger">
                <i class="bi bi-x"></i> Cancelar
            </button>
        </form>
    </div>
{% endblock %}
