{% extends "global/base.html" %}
{% block conteudo %}
    <div id="main" class="container">
        <div class="table-responsive">
            <table class="table table-sm table-striped rounded-4 overflow-hidden mt-5">
                <thead>
                    <tr class="table-dark ">
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Sobrenome</th>
                        <th scope="col">email</th>
                        <th scope="col">telefone</th>
                        <th scope="col">x</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cn in page.object_list %}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'show' cn.id %}">{{ cn.id }}</a>
                            </th>
                            <td>{{ cn.nome }}</td>
                            <td>{{ cn.sobrenome }}</td>
                            <td>{{ cn.email }}</td>
                            <td>{{ cn.telefone }}</td>
                            <td>0</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for num in page.paginator.page_range %}
                            {% if page.number == num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                            {% elif num > page.number|add:-3 and num < page.number|add:3 %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.paginator.num_pages }}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
        </div>
    </div>
{% endblock conteudo %}
