{% extends "global/base.html" %}
{% block conteudo %}
    <div class="container">
        <div class="container d-flex justify-content-center align-items-center"
             style="height: 100vh">
            <div class="card" style="width:400px">
                <img class="card-img-top"
                     src="{{ MEDIA_URL }}{{ contato.img }}"
                     alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{ contato.nome }} {{ contato.sobrenome }}</h4>
                    <p class="card-text">
                        <i class="bi bi-telephone"></i> - {{ contato.telefone }}
                    </p>
                    <p class="card-text">
                        <i class="bi bi-envelope-at"></i> - {{ contato.email }}
                    </p>
                    <p class="card-text">
                        <i class="bi bi-person-badge"></i> - {{ contato.categoria.nome }}
                    </p>
                    {% if user == contato.criador %}
                        <a href="{% url 'contato:update' pk=contato.id %}"
                           class="btn btn-primary">editar</a>
                        <button type="button"
                                class="btn btn-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#myModal">Excluir</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include 'global/partial/_modal_del.html' %}
    </div>
{% endblock %}
